@import url('https://fonts.cdnfonts.com/css/monaco');
                

html {
    font-family: 'Monaco', sans-serif;
}

body {
    background-color: rgb(39, 153, 134);
}

.container {
    margin: 0 auto;
    min-height: 900px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px;
}

#outputPassword {
    color: white; 
    background-color: orange;
    font-size: 50px;
    padding: 35px;
}